Django>=5.2,<5.3
djangorestframework>=3.16,<3.17
psycopg[binary]>=3.2,<3.3
gunicorn>=23,<24
mypy>=1.15,<2
django-stubs>=5.2,<5.3
djangorestframework-stubs>=3.16,<3.17
pytest>=8.4,<9
pytest-django>=4.11,<5
